.show-demo {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.table-demo {
  border-collapse: collapse;
  td {
    border: 0.05rem solid black;
    padding: 0.5rem;
  }

  th {
    border: 0.05rem solid black;
    padding: 0.5rem 3.5rem;
  }

  td:first-child {
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #888;
    }
    &:active {
      color: #333;
    }
  }

  th {
    background-color: #344a47;
    color: #e4f8f5;
  }
  tr:nth-child(even) {
    background-color: #ccc;
  }
  tr:nth-child(odd) {
    background-color: #eee;
  }
}

.table-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  padding: 0.5rem;
}

.page-number-button {
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: $light-text-color;
  cursor: pointer;

  &:hover {
    color: $text-color;
  }
}

.selected {
  color: $text-color;
  text-decoration: underline;
}
