.planed-projects {
  padding: 1rem;
}

.planed-title {
  text-align: center;
}

.flip {
  >div:nth-child(odd) {
    flex-direction: row-reverse;
    >div:first-child {
      margin-left: 1rem;
    }
  }
  >div:nth-child(even) {
    >div:first-child {
      margin-right: 1rem;
    }
  }

  @media screen and (max-width: 785px) {
    >div:nth-child(odd) {
      flex-direction: column;
      >div:first-child {
        margin-left: 0;
      }
    }
    >div:nth-child(even) {
      flex-direction: column;
      >div:first-child {
        margin-right: 0;
      }
    }
  }
}

.project {
  display: flex;
  max-width: 59rem;
  margin-bottom: 2.5rem;

  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary-dark;
    color: $primary-default;
    padding: 1rem;
    border-radius: 10px;

    @media screen and (max-width: 785px) {
      max-width: 20.6rem;
    }
  }
  .project-title {
    color: $primary-light;
    font-size: 2rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 785px) {
      font-size: 1.5rem;
    }
  }
  .project-description {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .project-img {
    width: 26.45rem;
    padding: 1rem;
    max-height: 26.45rem;
    object-fit: contain;
    border: $primary-dark 5px solid;
    border-radius: 10px;
    background-color: $primary-light;

    transition: all 2s;

    @media screen and (min-width: 1000px) {
      &:hover {
        width: 40rem;
        max-height: 40rem;
      }
    }

    @media screen and (max-width: 1000px) {
      width: 20rem;
      max-height: 20rem;
    }

    @media screen and (max-width: 390px) {
      width: 16rem;
      max-height: 16rem;
    }
  }
  .project-center {
    display: flex;
    cursor: pointer;

    @media screen and (max-width: 785px) {
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
  .project-link {
    border: $primary-default 1px solid;
    text-align: center;
    margin-top: 1rem;
    a {
      padding: 5px 0;
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    &:hover {
      background-color: $primary-default;
      color: $primary-dark;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 0 1rem;
  }
}
