// Colors
$white: #fff;

$primary-dark: #344b34;
$primary-default: #648d61;
$primary-light: #e6f9e4;

$primary-hover: #344b47c4;
$primary-focus: blue;

$text-color: #374151;
$light-text-color: #72767c;

$gray-active: #ccc;
