// Colors
$white: #fff;

$primary-dark: #344b47;
$primary-default: #7eb6ac;
$primary-light: #e4f9f5;

$primary-hover: #344b47c4;
$primary-focus: blue;

$text-color: #374151;
$light-text-color: #72767c;

$gray-active: #ccc;
