// Colors
$white: #fff;

$primary: #344b47;
$primary-hover: #344b47c4;
$primary-focus: blue;
$primary-active: #e4f9f5;
$primary-text: #e4f9f5;
$primary-default: #7eb6ac;

$text-color: #374151;
$light-text-color: #72767c;

$gray-active: #ccc;
