a:visited,
:link,
:hover,
:active {
  text-decoration: none;
  color: inherit;
}

.content-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .content-title {
    font-size: 5rem;
    margin: 2rem 0 0 0;
  }
  .content-subtitle {
    margin: 0;
    font-size: 3rem;
  }
  .content-body {
  }
}

.link-in-list {
  &:hover {
    color: blue;
  }
}

.link-button {
  padding: 0.8rem 1rem;
  background-color: #344b47;
  border-radius: 0.8rem;
  font-weight: bold;
  color: #e4f9f5 !important;
  &:hover {
    background-color: #344b47c4;
  }
}
