a:visited,
:link,
:hover,
:active {
  text-decoration: none;
  color: inherit;
}

.content-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .content-title {
    font-size: 5rem;
    margin: 2rem 0 0 0;
  }
  .content-subtitle {
    margin: 0;
    font-size: 3rem;
  }
  .content-body {
  }
}

.link-in-list {
  &:hover {
    color: blue;
  }
}
