a:visited,
:link,
:hover,
:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $primary-default;
}

.content-column {
  color: $primary-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .content-title {
    font-size: 5rem;
    margin: 2rem 0 0 0;
  }
  .content-subtitle {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 3rem;
  }
  .content-body {
    margin: 0;
    font-size: 2rem;
    padding: 0 2rem 1rem 2rem;
    width: 70%;
    text-align: center;
  }
}

.link-in-list {
  &:hover {
    // Change to better color
    color: blue;
  }
}

.link-button {
  padding: 0.8rem 1rem;
  background-color: $primary-dark;
  border-radius: 0.8rem;
  font-weight: bold;
  color: $primary-light !important;
  &:hover {
    background-color: $primary-hover;
  }
}

.link-in-text {
  text-decoration: underline;
}

.padding-bot {
  padding-bottom: 1rem;
}
