a:visited,
:link,
:hover,
:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $primary-default;
}

.content-column {
  color: $primary-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .content-title {
    font-size: 5rem;
    margin: 2rem 0 0 0;
    text-align: center;
    @media screen and (max-width: 1000px) {
      font-size: 3rem;
    }
  }
  .content-subtitle {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
    @media screen and (max-width: 1000px) {
      font-size: 1.8rem;
    }
  }
  .content-subtitle-sm {
    margin: 0;
    font-size: 1.8em;
    padding: 0 2rem 1rem 2rem;
    text-align: center;
    @media screen and (max-width: 1000px) {
      font-size: 1.4rem;
    }
  }
  .content-body {
    display: flex;
    padding: 0 5% 1rem;
    &__text {
      font-size: 1.5rem;
      padding: 0 2rem;

      @media screen and (max-width: 1000px) {
        font-size: 1.2rem;
      }
    }

    p {
      margin-top: 0;
    }

    transition: margin-right 2s 1s;

    @media screen and (max-width: 1500px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }
}

.link-in-list {
  &:hover {
    // Change to better color
    color: blue;
  }
}

.link-button {
  padding: 0.8rem 1rem;
  background-color: $primary-dark;
  border-radius: 0.4rem;
  font-weight: bold;

  color: $primary-light !important;
  &:hover {
    background-color: $primary-hover;
  }
}

.nav-btn {
  cursor: pointer;
  padding: 0.8rem 1rem;
  border: none;
  margin: 1rem;
  border-radius: 0.4rem;
  background-color: $primary-dark;
  font-weight: bold;
  font-size: inherit;
  color: $primary-light !important;
  &:hover {
    background-color: $primary-hover;
  }
  &:disabled {
    background-color: $primary-disabled;
    cursor: default;
  }
  
}

.nav-container {
  
}

.link-in-text {
  text-decoration: underline;
  cursor: pointer;
}

.padding-bot {
  padding-bottom: 1rem;
}

.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-from-right {
  animation: fadeInFromRight ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-from-left {
  animation: fadeInFromLeft ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-from-top {
  animation: fadeInFromTop ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.page-buttons {
  display: flex;
  justify-content: center;
}
