.header {
  display: flex;
  background-color: $primary-dark;
  justify-content: space-around;
  align-items: center;
  .is-active {
    color: $primary-light;
    cursor: default;
  }
  color: $primary-default;
  font-size: 1.2rem;

  @media screen and (max-width: 650px) {
    font-size: 1rem;
    flex-direction: column;
    padding-top: 1rem;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
  }
}

.header-link {
  padding: 2rem 1rem;
  white-space: nowrap;
  @media screen and (max-width: 650px) {
    padding: 1rem 0.5rem;
  }
}

.logo {
  height: 3rem;
  min-width: 9rem;
}

.sm-logo{
  height: 1rem;
  cursor: pointer;
}

.header-logo-link {
  width: 1rem;
  padding-right: 1rem;
}

.discord-logo {
  width: 1.3rem;
}
